{% extends 'base.html' %}

{% block title %}Последние обновления в моих подписках{% endblock %}

{% block content %}
  {% include 'includes/switcher.html' %}
  <h1>Последние обновления в моих подписках</h1>
  {% for post in page_obj %}
    {% include 'includes/card.html' %}
    {% if post.group %}
      <a href="{% url 'posts:group_posts' post.group.slug %}">
        все записи группы '{{ post.group.title }}'
      </a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
{% endblock %}
